<!DOCTYPE html>
<html>
<head>
  <title>Anbot</title>
  <link rel="stylesheet" href="https://cdn.rawgit.com/alexanderGugel/papier/master/dist/papier.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="center">
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

    <button><% cmd = www.%x[ruby ghost_launch.rb] %></button

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>
</body>
</html>
